@mixin titleText($titleSize) {
	font-size: $titleSize;
	font-family: var(--ff-heading);
	color: var(--black);
	text-transform: uppercase;
}

@mixin paraText($paraSize) {
	font-size: $paraSize;
	font-family: var(--ff-body);
	color: var(--dark-white);
	line-height: 1.5;
}
@mixin logoItem {
	padding: 1em;
	margin: 0.5em;
	max-width: 150px;
	opacity: 0.5;
	transition: opacity 0.5s;
	&:hover {
		opacity: 1;
	}
}
@mixin sectionName {
	font-weight: var(--fw-bold);
	color: var(--medium-grey);
	span {
		background-color: var(--medium-white);
		padding: 1rem 1rem;
	}
}

@mixin glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(2.5px);
	border-radius: 20px;
	border-right: 5px solid rgba(255, 255, 255, 0.1);
	border-bottom: 5px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@mixin linkIcon {
	img {
		position: relative;
		// left: 20px;
		width: 40px;
		transition: transform 0.5s;
		filter: invert(47%) sepia(9%) saturate(4349%) hue-rotate(17deg)
			brightness(99%) contrast(84%); //// KOLORY DO ZMIANY , ŹEEBY BYŁ BEZFILTER !!!!!!
	}
	p {
		@include paraText(1.6rem);
		text-transform: uppercase;
		text-align: center;
		color: var(--yellow);
		opacity: 0;
		transition: opacity 0.5s;
	}
	&:hover {
		img {
			transform: scale(1.2);
			filter: invert(76%) sepia(91%) saturate(923%) hue-rotate(355deg)
				brightness(103%) contrast(100%);
		}
		p {
			opacity: 1;
		}
	}
}

//ANIMATIONS
//
@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.5;
	}

	to {
		transform: scale(1.4);
		opacity: 0;
	}
}
@keyframes pulse2 {
	0% {
		delay: 3s;
		transform: scale(1);
		opacity: 0.5;
	}

	20% {
		transform: scale(1.4);
		opacity: 0;
	}

	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}


