@mixin titleText($titleSize) {
	font-size: $titleSize;
	font-family: var(--ff-heading);
	color: var(--black);
	text-transform: uppercase;
}

@mixin paraText($paraSize) {
	font-size: $paraSize;
	font-family: var(--ff-body);
	color: var(--dark-white);
	line-height: 1.5;
}
@mixin logoItem{
	padding: 1em;
	margin: 0.5em;
	max-width: 150px;
	opacity: 0.5;
	transition: opacity 0.5s;
	&:hover {
		opacity: 1;
	}
}


//ANIMATIONS
//
@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.5;
	}

	to {
		transform: scale(1.4);
		opacity: 0;
	}
}
@keyframes pulse2 {
	0% {
		delay: 3s;
		transform: scale(1);
		opacity: 0.5;
	}

	20% {

		transform: scale(1.4);
		opacity: 0;
	}

	100%{
		transform: scale(1.4);
		opacity: 0;
	}
}