@import './mixins';

:root {
	--yellow: #ffd505;
	--dark-yellow: rgb(235, 199, 0);
	--grey-yellow: #8e7f14;
	--gold: rgb(235, 211, 88);
	--black: rgb(10, 10, 10);
	--white: rgb(255, 255, 255);
	--medium-white: rgb(252, 251, 244);
	--dark-white: rgb(213, 213, 213);
	--light-grey: rgb(119, 118, 116);
	--medium-grey: rgb(55, 60, 65);
	--dark-grey: rgb(34, 37, 39);
	--darkest-grey: rgb(24, 24, 24);
	--red: rgb(247, 63, 84);

	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Montserrat', sans-serif;

	--ff-body: var(--ff-secondary);
	--ff-heading: var(--ff-primary);

	--fw-regular: 400;
	--fw-medium: 700;
	--fw-bold: 900;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: var(--ff-);
	// overflow-x: hidden; // !!!!!!!!!!!!!!!!!!!!!!!!!!
}

.container {
	// max-width: 1800px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 5%;
	padding-right: 5%;
}

.section {
	padding: 4em 0em 1em;
}

.btn {
	display: inline-block;
	// min-width: 150px;
	padding: 0.5em 2em;
	background: none;
	opacity: 0.5;

	color: var(--gold);
	cursor: pointer;
	font-size: 1.6rem;
	border: 2px solid var(--gold);
	border-radius: 40px;
	text-align: center;
	transition: background 0.5s, color 0.5s, opacity 1s;

	&:hover {
		opacity: 1;
		background: var(--gold);
		color: var(--black);
	}
}

.hamburger {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 10000;
}
.logo {
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10000;
	transition: 1s;
	&__item {
		@include logoItem;
	}
	&--active {
		left: 50%;
		transform: translateX(-50%);
	}
}

//---------------------
//-------HEADER--------
//---------------------

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	transform: translateY(-101%);
	background-color: var(--darkest-grey);
	z-index: 1000;
	transition: transform 1s;
	&--active {
		transform: translateY(0%);
		position: fixed;
	}

	.header-box {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		.logo-space {
			height: 10vh;
		}
		.navigation {
			&__list {
				height: 60vh;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			&__item {
				position: relative;
				padding: 0.2em 1em;

				a {
					@include paraText(2rem);
					transition: color 1s;

					&:hover {
						color: var(--gold);
					}

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 2px solid var(--gold);
						border-radius: 30px;
						opacity: 0;
					}
					&:hover::before {
						animation: pulse 1s;
					}
				}
			}
		}
		.reasume {
			height: 15vh;
			display: flex;
			align-items: center;
		}
		.social {
			height: 15vh;
			display: flex;
			align-items: center;
			&__link {
				padding: 0.5em 1em;
			}
			&__img {
				width: 40px;
				opacity: 0.5;
				transition: opacity 0.5s;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

//---------------------
//-------HERO----------
//---------------------

.hero {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: radial-gradient(
		circle,
		var(--medium-grey) 0%,
		var(--dark-grey) 100%
	);

	.hero-box {
		position: relative;
		display: flex;
		flex-direction: row;
		height: 100%;
		justify-content: center;
		align-items: flex-end;

		.hero-img {
			position: relative;
			width: 40%;
			height: 90%;
			&__item {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
		.hero-text {
			position: relative;
			width: 45%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1em;

			&__title1 {
				@include titleText(5rem);
				@include sectionName;
			}
			&__title2 {
				@include titleText(5rem);
				font-weight: var(--fw-bold);
				color: var(--yellow);
			}
			&__par {
				@include paraText(2rem);
			}
			&__link {
				position: absolute;
				width: 80px;
				height: 80px;
				@include linkIcon;
				img {
					left: 20px;
				}

				&::before {
					content: '';
					position: absolute;
					top: -25%;
					left: -0%;
					width: 76px;
					height: 76px;
					border: 2px solid var(--gold);
					border-radius: 100%;
					opacity: 0;
					z-index: 10;
					animation: pulse2 10s ease-out infinite;
				}

				&--one {
					top: 15%;
					left: 5%;
				}
				&--two {
					top: 10%;
					left: 43%;
					&::before {
						animation-delay: 8s;
					}
				}
				&--three {
					top: 18%;
					left: 76%;
					&::before {
						animation-delay: 4s;
					}
				}
				&--four {
					top: 88%;
					left: 65%;
					&::before {
						animation-delay: 2s;
					}
				}
				&--five {
					top: 82%;
					left: 15%;
					&::before {
						animation-delay: 6s;
					}
				}
			}
		}
	}
}

//---------------------
//-------ABOUT ME------
//---------------------
.about {
	height: 100vh;
	background: radial-gradient(
		circle,
		var(--dark-grey) 0%,
		var(--medium-grey) 100%
	);

	.about-box {
		display: flex;
		flex-direction: row;
		height: 100%;

		.about-foto {
			position: relative;
			width: 40%;
			perspective: 1500px;
			text-align: center;

			&:hover {
				.about-foto__card-img {
					transform: rotateY(-180deg);
					opacity: 0;
				}
				.about-foto__card-info {
					transform: rotateY(0deg);
					opacity: 1;
				}
			}
			&__card-img,
			&__card-info {
				position: absolute;
				top: 5%;
				bottom: 0;
				left: 5%;
				right: 0;
				max-width: 90%;
				height: 90%;
				border-radius: 30px;
				overflow: hidden;
				transition: transform 1s, opacity 1s;
				.hiden {
					display: none;
				}
			}

			&__card-img {
				background-image: url(../img/programmer-example.jpg);
				background-size: cover;
				background-position: center;
				&-info {
					position: absolute;
					bottom: 1em;
					left: 1em;

					@include paraText(2.8rem);
					color: var(--gold);
				}
			}
			&__card-info {
				background-color: var(--darkest-grey);
				border-radius: 30px;
				color: #ffd505;
				padding: 10%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				opacity: 0;
				transform: rotateY(180deg);
				&-title {
					@include paraText(1.8rem);
					margin-bottom: 0.2em;
				}
				&-text {
					margin-bottom: 1.5em;
					@include paraText(2rem);
					font-weight: var(--fw-medium);
					border-bottom: 1px dashed var(--dark-white);
					padding-bottom: 1.2em;
					color: var(--gold);
				}
				&-text:nth-last-child(1) {
					border-bottom: none;
				}
			}
		}
		.about-desc {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60%;
			padding-left: 2em;
			&__section-name {
				@include titleText(3rem);
				@include sectionName;
				margin-bottom: 1em;
			}
			&__title {
				@include titleText(4.6rem);
				font-weight: var(--fw-bold);
				color: var(--yellow);
				margin-bottom: 0.8em;
			}
			&__title2 {
				@include titleText(2.6rem);
				color: var(--grey-yellow);
				margin-bottom: 1em;
			}
			&__text {
				@include paraText(1.8rem);
				margin-bottom: 2.4em;
				text-align: justify;
			}
			&__reasume {
				.btn {
					font-size: 1.8rem;
					opacity: 1;
				}
			}
		}
	}
}

//---------------------
//-------PORTFOLIO-----
//---------------------

.portfolio {
	position: relative;
	height: 100vh;
	background-image: url(../img/endless-constellation.svg);
	background-attachment: fixed;

	&__section-name {
		text-align: center;
		@include titleText(3rem);
		@include sectionName;
		margin-top: -1em;
		margin-bottom: 1em;
	}

	.portfolio-box {
		position: relative;
		// max-height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 90%;

		.portfolio-item {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			@include glass;
			overflow: hidden;
			width: 32%;
			height: 100%;
			transition: backdrop-filter 1s;

			&__img {
				width: 100%;
				border-radius: 20px;
				padding: 0.5em;
				opacity: 0.2;
				transition: opacity 1s, transform 3s;
			}
			&__content {
				display: flex;
				height: 100%;
				align-items: center;
				flex-direction: column;
				// background-color: rgba(255, 0, 0, 0.1);
				padding: 1em;
				transition: background 1s;

				&-title {
					@include titleText(2rem);
					color: var(--grey-yellow);
					text-align: center;
					margin-bottom: 1em;
					transition: color 1s;
				}
				&-text {
					@include paraText(1.4rem);
					text-align: justify;
					color: var(--light-grey);
					transition: color 1s;
					flex-grow: 2;
				}

				&-link {
					display: flex;
					text-align: center;
					justify-content: center;
					opacity: 0.5;
					transition: opacity 1s;
					// background-color: green;
					width: 100%;
					&-item {
						padding: 0 1em;
						@include linkIcon;
					}
				}
			}

			&:hover {
				background: linear-gradient(
					135deg,
					rgba(255, 255, 255, 0.3),
					rgba(255, 255, 255, 0)
				);
				backdrop-filter: blur(1px);
				.portfolio-item__img {
					opacity: 0.7;
					transform: scale(1.03);
				}
				.portfolio-item__content {
					&-title {
						color: var(--dark-yellow);
					}
					&-text {
						color: var(--dark-white);
					}
					&-btn,
					&-link {
						opacity: 1;
					}
				}
			}
		}
	}
}

//---------------------
//-------SKILLS-----
//---------------------

.skills {
	height: 100vh;
	background: radial-gradient(
		circle,
		var(--dark-grey) 0%,
		var(--medium-grey) 100%
	);
	&__section-name {
		@include titleText(3rem);
		@include sectionName;
		text-align: center;
		margin-bottom: 1em;
		margin-top: -1em;
	}
	overflow: hidden;
	.skills-box {
		.programming {
			display: flex;
			// flex-direction: column;
			justify-content: space-around;
			flex-wrap: wrap;
			// background-color: rgba(88, 6, 6, 0.2);
			max-width: 1700px;
			.programming-item {
				display: flex;
				flex-wrap: wrap;
				// background-color: rgba(255, 255, 255, 0.2);
				margin: 1em 8%;
				width: 200px;
				align-items: center;
				// justify-content: center;

				&__logo {
					width: 60px;
					// background-color: rgba(231, 15, 15, 0.2);
				}
				&__name {
					@include paraText(2rem);
					margin: 0.5em 0.5em 0;

					// background-color: rgba(2, 235, 41, 0.2);
				}
				&__lvl {
					display: flex;
					flex-direction: row;
					// justify-content: center;
					align-items: center;
					// justify-content: center;
					// justify-content: center;
					// background-color: rgba(91, 8, 247, 0.2);
					margin: 1em 0;
					width: 100%;

					&-active {
						width: 13px;
						height: 13px;
						border-radius: 100%;
						background-color: var(--white);
						// border: 1px solid black;
						box-shadow: 0 0 3px var(--yellow), 0 0 6px var(--yellow),
							0 0 9px var(--yellow), 0 0 12px var(--yellow);
						margin: 0 0.5em;
					}
					&-empty {
						width: 15px;
						height: 15px;
						border-radius: 100%;
						background-color: transparent;
						background-color: var(--medium-grey);
						border-bottom: 2px solid rgba(0, 0, 0, 0.4);
						border-right: 2px solid rgba(0, 0, 0, 0.4);
						border-top: 1px solid rgba(0, 0, 0, 0.3);
						margin: 0 0.5em;
					}
				}
			}
		}
		.exp {
		}
	}
}

//---------------------
//-------CONTACT-----
//---------------------

.contact {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: radial-gradient(
		circle,
		var(--medium-grey) 0%,
		var(--dark-grey) 100%
	);
	&__section-name {
		@include titleText(3rem);
		@include sectionName;
		text-align: center;
		margin-bottom: 1em;
		margin-top: -1em;
	}
	.contact-box {
		display: flex;
		flex-direction: row;
		height: 90%;
		.contact-box-info {
			width: 30%;
			// background-color: rgba(69, 247, 63, 0.3);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			&__item {
				@include linkIcon;
				text-align: center;
				.text1 {
					@include paraText(1.4rem);
					// text-transform: uppercase;
					font-weight: var(--fw-medium);
					color: var(--yellow);
				}

				.text2 {
					// @include paraText(2rem)
					font-family: var(--ff-primary);
					color: var(--dark-white);
					text-transform: none;
				}
				p {
					opacity: 0.5;
				}
			}
		}
		.contact-box-form {
			display: flex;
			// flex-direction: column;
			flex-wrap: wrap;
			width: 70%;
			// background-color: #f73f544d;
			padding: 2%;
			align-items: center;
			justify-content: center;
			&__header {
				// @include titleText(2rem);
				@include paraText(2rem);
				text-transform: uppercase;
				color: var(--yellow);
				width: 100%;
				text-align: center;
				margin-bottom: 0.2em;
			}
			&__text {
				@include paraText(2rem);
				margin-bottom: 0.2em;
			}
			&__input {
				background: transparent;
				padding: 0.5em 1em;
				margin: 2%;
				border-bottom: 2px solid;
				border-image-source: linear-gradient(
					90deg,
					var(--grey-yellow),
					transparent
				);
				border-image-slice: 1;
				color: var(--dark-white);
				width: 46%;
				font-family: var(--ff-secondary);
				&:focus {
					border-bottom: 2px solid;
					border-image-source: linear-gradient(
						90deg,
						var(--yellow),
						transparent
					);
					border-image-slice: 1;
					background: linear-gradient(
						135deg,
						rgba(255, 255, 255, 0.05),
						rgba(255, 255, 255, 0)
					);
				}
				&::placeholder {
					color: var(--dark-white);
				}
			}
			textarea {
				width: 100%;
			}
			&__btn {
			}
		}
	}
}

// ================================
// MEDIA QUERIES
// ================================

@media (max-width: 1400px) {
	.container {
		padding-left: 1%;
		padding-right: 1%;
	}
}

@media (max-width: 1199px) {
	//-------HERO section----------
	.hero {
		.hero-box {
			.hero-img {
				width: 50%;
			}
			.hero-text {
				width: 50%;
			}
		}
	}

	//-------About section----------
	.about {
		.about-box {
			.about-foto {
				width: 50%;
			}
			.about-desc {
				width: 50%;
				padding-left: 2%;
			}
		}
	}
	//-------Skills section----------

	.skills {
		&__section-name {

		}
		.skills-box {
			.programming {
				.programming-item {
					margin: 1em 4%;

				}
			}
		}
	}
}

@media (max-width: 991px) {
	//-------About section----------
	.about {
		.about-box {
			// .about-foto {
			// }
			.about-desc {
				&__section-name {
					font-size: 2.2rem;
				}
				&__title {
					font-size: 3.6rem;
				}
				&__title2 {
					font-size: 2rem;
				}
				&__text {
					font-size: 1.6rem;
				}
			}
		}
	}
	//-------Skills section----------

	.skills {
		&__section-name {
		}
		.skills-box {
			.programming {
				.programming-item {
					margin: 1em 2%;
					&__logo {
						width: 50px;
					}
					&__name {
					}
					&__lvl {
						&-active,
						&-empty {
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	html {
		font-size: 55%;
	}

	//-------HERO section----------
	.hero {
		// height: ;
		.hero-box {
			.hero-img {
				display: none;
			}
			.hero-text {
				width: 100%;
				&__title1,
				&__title2,
				&__par {
					text-align: center;
				}
			}
		}
	}
	//-------About section----------
	.about {
		padding-bottom: 0.5em;
		.about-box {
			flex-direction: column;
			.about-foto {
				width: 100%;
				height: 60%;
				&__card-img {
					top: 6%;
					height: 94%;
					padding: 0.5em;
				}
				&__card-info {
					top: 6%;
					height: 94%;
					&-title {
						font-size: 1.6rem;
						margin-bottom: 0em;
					}
					&-text {
						margin-bottom: 0.4em;
						font-size: 2rem;
						padding-bottom: 0.4em;
					}
				}
			}
			.about-desc {
				width: 100%;
				padding: 2%;
				height: 40%;
				&__section-name {
					margin-bottom: 0.5em;
					font-size: 2rem;
				}
				&__title {
					margin-bottom: 0;
					font-size: 3rem;
				}
				&__title2 {
					margin-bottom: 0.5em;
				}
				&__text {
					margin-bottom: 0.8em;
				}
				&__reasume {
					text-align: center;
				}
			}
		}
	}
		//-------Skills section----------

		.skills {
			&__section-name {
			}
			.skills-box {
				.programming {
					.programming-item {
						width: 170px;
						margin: 1em 1%;
						&__logo {
							width: 50px;
						}
						&__name {
						}
						&__lvl {
							&-active,
							&-empty {
							}
						}
					}
				}
			}
		}
}

@media (max-width: 575px) {
	html {
		font-size: 50%;
	}
	.hamburger {
		// width: 50px;
		transform: scale(0.8);
		top: 0.4em;
	}
	.logo {
		&__item {
			width: 110px;
		}
		// width: 10px;
		// padding: 0.1em;
		// margin: 0;
	}

	//-------About section----------
	.about {
		.about-box {
			.about-foto {
				&__card-img {
					background-color: var(--light-grey);
					background-blend-mode: multiply;
					.hiden {
						display: block;
					}
					.about-desc__section-name {
						font-size: 2rem;
						padding-top: 1em;
					}
					.about-desc__title {
						font-size: 2.6rem;
					}
				}
			}
			.about-desc {
				&__section-name,
				&__title,
				&__title2 {
					display: none;
				}
				&__text {
					margin-bottom: 0.8em;
				}
				&__reasume {
					text-align: center;
				}
			}
		}
	}

	//-------Portfolio section----------
	.portfolio {
		&__section-name {
			font-size: 2rem;
		}
		.portfolio-box {
			flex-direction: column;
			align-items: center;
			.portfolio-item {
				width: 90%;
				margin: 0.5em;
				&__img {
					display: none;
				}
				&__content {
					padding: 0.5em;
				}
				&__content-title {
					margin-bottom: 0.2em;
				}
				&__content-text {
					margin-bottom: 0.8em;
				}
				&__content-link {
					font-size: 1rem;
					&-item {
						padding: 0 2em;
					}

					img {
						width: 30px;
					}
				}
			}
		}
	}
	//-------Skills section----------

	.skills {
		&__section-name {
			font-size: 2rem;
		}
		.skills-box {
			.programming {
				.programming-item {
					width: 33%;
					margin: 0 0 1.5em;
					padding-left: 0;
					justify-content: center;
					&__logo {
						width: 40px;
					}
					&__name {
						width: 100%;
						text-align: center;
						margin: 0.5em 0;
						font-size: 1.2rem;
					}
					&__lvl {
						justify-content: center;
						margin:0.2em 0;
						&-active,
						&-empty {
							width: 10px;
							height: 10px;
							margin: 0 0.3em;
						}
					}
				}
			}
		}
	}

	//-------Contact section----------
	.contact {
		&__section-name {
			font-size: 2rem;
		}
		.contact-box {
			flex-direction: column;
			.contact-box-info {
				// padding: 2em 0 1.5em;
				flex-direction: row;
				align-items: center;
				width: 100%;
				height: 30%;
			}
			.contact-box-form {
				text-align: center;
				width: 100%;
				height: 100%;
				&__input {
					// padding: 2em;
				}
			}
		}
	}
}

@media (max-width: 350px) {
	html {
		font-size: 45%;
	}
	//-------Portfolio section----------
	.portfolio {
		.portfolio-box {
			flex-direction: column;
			align-items: center;
			height: 95%;
			.portfolio-item {
				width: 100%;
				margin: 0.5em;
				&__img {
					display: none;
				}
				&__content-link {
					font-size: 1rem;

					img {
						width: 30px;
					}
				}
			}
		}
	}
}
